@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";
@plugin "daisyui";


@theme {


  /*Farver */


  /*Typografi */

}

@layer base {

}

@layer components{

}

@layer utilities{
  
}