---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Searchbar from "../components/Searchbar.astro";
import BBteksktlogo from "../../public/imgs/bbtekstlogo.svg";
import Carousel from "../components/Carousel.astro";
import Cloudanimation from "../components/Cloudanimation.astro";
---

<MainLayout title="Børnebiffen">
  <main class="container mx-auto bg-blue-400">
    <section id="hero" class="bg-blue-400 h-[60vh] place-content-center grid grid-cols-1 grid-rows-1 md:h-110">
      <article id="hero-animation" class="overflow-hidden h-155 grid col-start-1 row-start-1 z-0">
        <Cloudanimation />
      </article>
      <article class="w-full text-center grid col-start-1 row-start-1 place-content-center z-40">
        <div class="mb-2"><Heading color="brand" size="medium" font="display">Velkommen til</Heading></div>
        <div class="md:hidden"><BBteksktlogo width={300} height={60} fill="currentColor" class="m-auto mb-5" /></div>
        <div class="hidden md:block"><BBteksktlogo width={500} height={100} fill="currentColor" class="m-auto mb-5" /></div>

        <div class="m-auto"><Searchbar /></div>
      </article>
    </section>
    <section id="cardsection" class="bg-teal-700 rounded-t-[50%] w-full z-50">
      <article class="max-lg:carousel w-full gap-5 lg:flex lg:flex-row lg:justify-center lg:gap-10">
        <div class="carousel-item w-40">
          <img src="/imgs/denlillefugl.svg" alt="" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/lillefinger.svg" alt="" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/prickoshflack.svg" alt="" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/cirkeline.svg" alt="" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/pipungerne.svg" alt="" />
        </div>
      </article>
    </section>
    <section id="categories" class="bg-teal-700 flex flex-col gap-20 p-6 pt-25 lg:px-20">
      <Carousel title="Fortsæt med at se..." color="blue">
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
      </Carousel>
      <Carousel title="Populært lige nu" color="purple">
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
      </Carousel>
      <Carousel title="Fordi du så cirkeline" color="yellow">
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
      </Carousel>
    </section>
    <section class="bg-teal-700 pb-50">
      <div class="text-center"><Button>Se flere kategorier</Button></div>
    </section>
  </main>

  <script>
    import { animate, scroll } from "motion";
  </script>
</MainLayout>
