---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Searchbar from "../components/Searchbar.astro";
import BBteksktlogo from "../../public/imgs/bbtekstlogo.svg";
import Carousel from "../components/Carousel.astro";
import Cloudanimation from "../components/Cloudanimation.astro";
---

<MainLayout title="Børnebiffen">
  <main class="container mx-auto bg-blue-400">
    <section id="hero" class="bg-blue-400 h-[60vh] place-content-center grid grid-cols-1 grid-rows-1 md:h-110">
      <article id="hero-animation" class="overflow-hidden h-155 grid col-start-1 row-start-1 z-0">
        <Cloudanimation />
      </article>
      <article class="w-full text-center grid col-start-1 row-start-1 place-content-center z-40">
        <div class="mb-2"><Heading color="brand" size="medium" font="display">Velkommen til</Heading></div>
        <div class="md:hidden"><BBteksktlogo width={300} height={60} fill="currentColor" class="m-auto mb-5" /></div>
        <div class="hidden md:block"><BBteksktlogo width={500} height={100} fill="currentColor" class="m-auto mb-5" /></div>

        <div class="m-auto"><Searchbar /></div>
      </article>
    </section>
    <section id="cardsection" class="bg-teal-700 rounded-t-[50%] w-full z-50">
      <article id="shows" class="max-lg:carousel w-full gap-5 lg:flex lg:flex-row lg:justify-center lg:gap-10">
        <div class="carousel-item w-40">
          <img src="/imgs/denlillefugl.svg" alt="" class="hover:cursor-pointer hover:scale-110 transition-all duration-200" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/lillefinger.svg" alt="" class="hover:cursor-pointer hover:scale-110 transition-all duration-200" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/prickoshflack.svg" alt="" class="hover:cursor-pointer hover:scale-110 transition-all duration-200" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/cirkeline.svg" alt="" class="hover:cursor-pointer hover:scale-110 transition-all duration-200" />
        </div>
        <div class="carousel-item w-40">
          <img src="/imgs/pipungerne.svg" alt="" class="hover:cursor-pointer hover:scale-110 transition-all duration-200" />
        </div>
      </article>
    </section>
    <section id="categories" class="bg-teal-700 flex flex-col gap-20 p-6 pt-25 lg:px-20">
      <Carousel title="Fortsæt med at se..." color="blue">
        <Card cardimg="/imgs/img1.jpg" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="/imgs/img2.jpg" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="/imgs/img3.jpg" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="/imgs/img4.jpg" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
        <Card cardimg="/imgs/img5.jpg" cardtitle="Cirkeline" cardtime="5 min" color="blue" />
      </Carousel>
      <Carousel title="Populært lige nu" color="purple">
        <Card cardimg="/imgs/img16.jpg" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="/imgs/img7.jpg" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="/imgs/img8.jpg" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="/imgs/img9.jpg" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
        <Card cardimg="/imgs/img10.jpg" cardtitle="Cirkeline" cardtime="5 min" color="purple" />
      </Carousel>
      <Carousel title="Fordi du så cirkeline" color="yellow">
        <Card cardimg="/imgs/img11.jpg" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="/imgs/img12.jpg" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="/imgs/img13.jpg" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="/imgs/img14.jpg" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
        <Card cardimg="/imgs/img15.jpg" cardtitle="Cirkeline" cardtime="5 min" color="yellow" />
      </Carousel>
    </section>
    <section class="bg-teal-700 pb-50">
      <div class="text-center"><Button link="listview">Se flere kategorier</Button></div>
    </section>
  </main>

  <script>
    import { animate, stagger, inView, scroll } from "motion";
    inView("#shows", () => {
      animate(
        "#shows div",
        { opacity: [0, 1] },
        {
          delay: stagger(0.1, { startDelay: 0.2 }),
        }
      );
    });

    inView("#categories", () => {
      animate(
        "#categories .cardarea .cardcontainer",
        { opacity: [0, 1] },
        {
          delay: stagger(0.1, { startDelay: 0.2 }),
        }
      );
    });
  </script>
</MainLayout>
