---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Searchbar from "../components/Searchbar.astro";
import BBteksktlogo from "../../public/imgs/bbtekstlogo.svg";
import Carousel from "../components/Carousel.astro";
import Cloudanimation from "../components/Cloudanimation.astro";
import User from "../components/User.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4 bg-blue-400 flex flex-col gap-8">
    <Heading font="display" color="brand" size="large">Komponentbibliotek</Heading>
    <Text>Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text>
    <hr class="my-4" />
    <!-- start på typografi -->
    <section>
      <Heading font="display" color="brand" size="large">Heading og tekst komponent</Heading>

      <Heading font="display" color="brand" size="large">display large</Heading>
      <Heading font="display" color="brand" size="medium">display medium</Heading>
      <Heading font="display" color="brand" size="small">display small</Heading>
      <Heading font="body" color="brand" size="large">body large</Heading>
      <Heading font="body" color="brand" size="medium">body medium</Heading>
      <Heading font="body" color="brand" size="small">body small</Heading>
      <Text>
        Her er en sektion brødtekst: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam. Corporis totam <Link href="#">Default link: </Link> reiciendis quibusdam ratione iure
        aut, numquam tenetur voluptatem exercitationem sequi enim!
      </Text>
    </section>
    <!-- slut på typografi -->
    <hr class="my-4" />
    <!-- Buttons komponent instanser -->
    <section>
      <Heading font="display" color="brand" size="medium">Buttons</Heading>
      <Text><Button>Default knap</Button></Text>
      <Text><Button variant="primary">Button variant: primary</Button></Text>
      <Text><Button variant="primary" size="small">Button variant: primary size small</Button></Text>
      <Text><Button variant="primary" size="medium">Button variant: primary size medium</Button></Text>
      <Text><Button variant="primary" size="large">Button variant: primary size large</Button></Text>
      <Text><Button variant="secondary" size="small">Button variant: secondary size small</Button></Text>
      <Text><Button variant="secondary" size="medium">Button variant: secondary size medium</Button></Text>
      <Text><Button variant="secondary" size="large">Variant: secondary size large</Button></Text>
    </section>
    <!-- Slut på Buttons komponent instanser -->
    <hr class="my-4" />
    <!-- Start på cloudanimation  -->
    <section>
      <Heading font="display" color="brand" size="medium">sky animation</Heading>
      <Cloudanimation />
    </section>
    <!-- Slut på cloudanimation  -->
    <hr class="my-4" />
    <!-- Start på carousel instanser  -->
    <section>
      <Heading font="display" color="brand" size="medium">Carousel</Heading>
      <Carousel title="title" color="blue"><Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" /></Carousel>
      <Carousel title="title" color="red"><Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" /></Carousel>
      <Carousel title="title" color="teal"><Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" /></Carousel>
      <Carousel title="title" color="yellow"><Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" /></Carousel>
      <Carousel title="title" color="purple"><Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" /></Carousel>
      <Carousel title="title" color="purple" hidetop="yes"><Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" /></Carousel>
    </section>
    <!-- Slut på carousel instanser  -->
    <hr class="my-4" />
    <!-- Start på card instanser  -->
    <section>
      <Heading font="display" color="brand" size="medium">Cards</Heading>
      <Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="blue" />
      <Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="red" />
      <Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="yellow" />
      <Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="teal" />
      <Card cardimg="/imgs/img1.jpg" cardtitle="title" cardtime="tidsangivelse" color="purple" />
    </section>
    <!-- Slut på card instanser  -->
    <hr class="my-4" />
    <!-- Start på searchbar instanser  -->
    <section>
      <Heading font="display" color="brand" size="medium">Searchbar</Heading>
      <Searchbar />
    </section>
    <!-- Slut på searchbar instanser  -->
    <hr class="my-4" />
    <!-- Start på user instanser  -->
    <section class="flex flex-col gap-4">
      <Heading font="display" color="brand" size="medium">Profiles</Heading>
      <User username="navn" color="red" />
      <User username="navn" color="blue" />
      <User username="navn" color="teal" />
      <User username="navn" color="purple" />
      <User username="navn" color="yellow" />
    </section>
    <!-- Slut på user instanser  -->
  </main>
</MainLayout>
