---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Searchbar from "../components/Searchbar.astro";
import BBteksktlogo from "../../public/imgs/bbtekstlogo.svg";
import Carousel from "../components/Carousel.astro";
---

<MainLayout title="Børnebiffen">
  <main class="container mx-auto bg-blue-400"></main>
</MainLayout>
