---
import Kategoriicon from "../../public/imgs/kategoriicon.svg";
import Favorites from "../../public/imgs/favorites.svg";
import Logo from "../../public/imgs/logo.svg";
import Share from "../../public/imgs/share.svg";
import Download from "../../public/imgs/download.svg";
---

<footer class="fixed bottom-0 z-50 bg-white mx-auto mb-4 inset-x-0 rounded-full w-auto p-5 px-7 flex flex-row gap-6 justify-between md:w-120">
  <a href="listview"><Kategoriicon width={25} height={25} class="hover:cursor-pointer hover:scale-110 transition-all duration-100" /></a>
  <Favorites width={25} height={25} class="hover:cursor-pointer hover:scale-110 transition-all duration-100" />
  <a href="/"><Logo width={35} height={35} class="-mt-2 hover:cursor-pointer hover:scale-110 transition-all duration-100" /></a>
  <a href="komponentbibliotek"><Share width={25} height={25} class="hover:cursor-pointer hover:scale-110 transition-all duration-100" /></a>
  <Download width={25} height={25} class="hover:cursor-pointer hover:scale-110 transition-all duration-100" />
</footer>
