---
import Chromecasticon from "../../public/imgs/chromecasticon.svg";
import Profileicon from "../../public/imgs/profileicon.svg";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header class="z-100 absolute top-0 right-0 p-5">
  <nav class="rounded-full bg-white py-4 px-5 flex flex-row gap-6 shadow-lg">
    <Chromecasticon width={28} height={28} fill="currentColor" class="hover:cursor-pointer" />
    <Profileicon width={28} height={28} fill="currentColor" class="hover:cursor-pointer" />
  </nav>
</header>
