---
import Heading from "./Heading.astro";

const { username = "", color = "" } = Astro.props;

const colorType = {
  yellow: "bg-yellow-500",
  red: "bg-red-500",
  teal: "bg-teal-500",
  blue: "bg-blue-500",
  purple: "bg-purple-500",
};
---

<a href="/">
  <div class="flex flex-col gap-2 hover:scale-110 transition-all duration-300">
    <div class:list={colorType[color]} class="rounded-full p-4">
      <img src="/imgs/usericon.svg" alt="" />
    </div>
    <Heading font="display" size="medium" color="brand">{username}</Heading>
  </div>
</a>
